.content_blog{
    width: 70%;
    height: 860px;
    margin-top: 130px;
    border-top: solid;
    border: solid;
    border-width: 2px;
    border-color: #cccccc;
    background-color: white;

}

.col-xs-4{
    padding-top: 40px;
    height: 200px;
    text-align: left;
    margin-top: 60px;
    transition: all 0.8s;
}

.col-xs-4:hover{
    transform:scale(1.2);

}
.blog_cont_content{
    width: 1240px;
    height: auto;
    margin-top: 100px;
    overflow: hidden;

}
.blog_cont_content_left{
    width: 920px;
    height: auto;
    margin-right: 20px;
    float: left;
    background-color: white;
}
.blog_cont_content_right{
    width: 300px;
    height: 700px;
    float: left;
    background-color: white;
}
.blog_left_head{
    width: 100%;
    height: 110px;
    padding-left: 30px;
    border-bottom: solid;
    border-width: 5px;
    border-color: #f4f4f4;
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px;
}
.small{
    color: #777777;
}
.blog_left_body{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}
.blog_left_body h1{
    font-size: 25px;
    line-height: 40px;
}
.blog_left_body h2{
    font-size: 25px;
    line-height: 40px;
}
.blog_left_body p{
    font-size: 15px;
    line-height: 30px;
}
.blog_right_info{
    width: 300px;
    height:330px;
    border-bottom: solid;
    border-width: 20px;
    border-color: #f4f4f4;
}

    .blog_right_info_head{
    width: 300px;
    height:130px;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: solid;
        border-width: 3px;
        border-color: #f4f4f4;
}
.blog_right_info_body{
    width: 300px;
    height:175px;

    padding-left: 20px;
    padding-right: 20px;
}
.blog_right_moreinfo{
    width: 300px;
    height: 370px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}