.content_blog{
    width: 70%;
    height: 860px;
    margin-top: 200px;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #cccccc;
}
.col-xs-4{
    padding-top: 40px;
    height: 200px;
    text-align: left;
    margin-top: 60px;
    transition: all 0.8s;
}

.col-xs-4:hover{
    transform:scale(1.3);

}